:host {
  ion-content {
    --background: url('../../assets/background_bw.jpg') no-repeat 100% 100%;
  }

  ion-footer {
    --background: linear-gradient(-135deg, var(--ion-color-medium), var(--ion-color-light))
  }

  .center-img {
    margin: auto;
    width: 250px;
    padding-bottom: 25px;
  }
}


