<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            About
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <!--<ion-img class="center-img" src="/assets/tomb.png"></ion-img>-->

    <div class="div-center">
        <ion-card color="medium" class="card-opacity">

            <ion-card-header>
                <ion-card-title color="medium">Famous last words of RPG</ion-card-title>
            </ion-card-header>


            <ion-card-content color="primary">
                <ion-text class="text15" color="primary">

                    <p class="text15">
                        Dying words are a very special form of quotation. Some are rehearsed and contrived; others are
                        spontaneous and
                        witty.
                    </p>

                    <p>
                        'Famous last words' may be in the form of epitaphs, letters or even suicide notes, but are often
                        impromptu
                        sayings coined by and spoken by the dying person for the first (and, of course, last) time on
                        their
                        deathbed.
                    </p>

                    <p>
                        Not so with the Famous Last Words of RPG.
                    </p>

                    <p>
                        These are the last words uttered by the PC before a particularly deadly combat,
                        saving throw or just before the
                        DM turns nasty.
                    </p>

                    <p class="bold">Let's not forget the PC Deaths</p>
                </ion-text>

                <!--<ion-text class="danger">-->
                    <!--This is the LITE version, which only include about 60 quotes. The full version has about 1500++-->
                <!--</ion-text>-->
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>
