<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Tome of death
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-virtual-scroll [items]="words" approxItemHeight="100px">
            <ion-item *virtualItem="let word;">
                <ion-label text-wrap>
                    <ion-text color="dark">No# {{word['textid']}}</ion-text>
                    <p>
                        <ion-text color="primary" [innerHTML]="word['text']"></ion-text>
                    </p>
                </ion-label>
            </ion-item>
    </ion-virtual-scroll>
</ion-content>
