<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Famous Last Words
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list *ngFor="let word of words">
        <ion-item lines="full">
            <ion-label text-wrap>
                <ion-text>No# {{word['textid']}}</ion-text>
                <p [innerHTML]="word['text']"></p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
