<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Submit the last words
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>


    <!--<div class="div-center">-->
    <ion-card color="medium" class="card-opacity">

        <ion-card-content color="primary">
            <ion-item>
                <ion-label color="primary" position="floating">Dying last word</ion-label>

                <ion-textarea color="primary" required type="text"
                              [ngClass]="(wordItem['text'].length > 150) ? 'text12' : 'text18' "
                              [(ngModel)]="wordItem.text">

                </ion-textarea>
            </ion-item>
        </ion-card-content>
    </ion-card>

    <ion-button expand="full" [disabled]="wordItem.text && wordItem.text.length == 0"
                (click)="updateSubmittedDocument()">Submit
    </ion-button>


    <ion-button expand="full" (click)="submittedAdmin()">
        <ion-title>Approve words</ion-title>
    </ion-button>

</ion-content>
