<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Submit the last words
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>


    <!--<div class="div-center">-->
    <ion-card color="medium" class="card-opacity">

        <ion-card-content color="primary">
            <ion-item>
                <ion-label color="primary" position="floating">Dying last word</ion-label>

                <ion-textarea color="primary" required type="text"
                              [ngClass]="(wordItem['text'].length > 150) ? 'text12' : 'text18' "
                              [(ngModel)]="wordItem.text">

                </ion-textarea>
            </ion-item>
        </ion-card-content>
    </ion-card>

    <ion-button expand="full" (click)="updateSubmittedDocument()">Submit</ion-button>

    <!--<ion-virtual-scroll *ngIf="words && words.length > 0"-->
    <!--[items]="words"-->
    <!--approxItemHeight="100px">-->
    <!---->

    <ion-text>Submitted</ion-text>

    <ion-list *ngFor="let word of words">
        <ion-item-sliding>
            <!--<ion-item *virtualItem="let word;" color="primary">-->
            <ion-item color="primary">
                <ion-label text-wrap>
                    <ion-text>No# {{word['id']}}</ion-text>
                    <p>
                        <ion-text [innerHTML]="word['text']"></ion-text>
                    </p>
                </ion-label>
            </ion-item>
            <ion-item-options side="end">
                <ion-item-option (click)="acceptSubmitted(word)" icon-only>
                    <fa-icon color="light" [icon]="faCheckCircle"></fa-icon>
                </ion-item-option>
                <ion-item-option (click)="removeSubmittedItem(word)">
                    <fa-icon color="light" [icon]="faTrashAlt"></fa-icon>
                </ion-item-option>
            </ion-item-options>

        </ion-item-sliding>
    </ion-list>


<ion-text>Accepted</ion-text>
    <ion-list *ngFor="let word of acceptedWords">
        <ion-item-sliding>
            <!--<ion-item *virtualItem="let word;" color="primary">-->
            <ion-item color="secondary">
                <ion-label text-wrap>
                    <ion-text>No# {{word['id']}}</ion-text>
                    <p>
                        <ion-text [innerHTML]="word['text']"></ion-text>
                    </p>
                </ion-label>
            </ion-item>
            <ion-item-options side="end">
                <ion-item-option (click)="acceptSubmitted(word)" icon-only>
                    <fa-icon color="medium" [icon]="faCheckCircle"></fa-icon>
                </ion-item-option>
                <ion-item-option (click)="removeAcceptedItem(word)">
                    <fa-icon color="medium" [icon]="faTrashAlt"></fa-icon>
                </ion-item-option>
            </ion-item-options>

        </ion-item-sliding>
    </ion-list>
    <!--</ion-virtual-scroll>-->
    <!--</div>-->

</ion-content>
