<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Famous Last Words
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content >
    <ion-card class="welcome-card">
        <img src="/assets/tomb.png" height="50%">
        <ion-card-content>
            <p>Let's not forget, remember the PC Deaths.</p>
        </ion-card-content>
        <ion-card-content>
            <div *ngIf="word != null">
                <p [innerHTML]="word['text']"></p>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>

<ion-footer padding-bottom="10px">
    <div>
        <ion-button expand="full" color="danger" (click)="getRandom()">Remember</ion-button>
    </div>
</ion-footer>