<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Famous Last Words
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-button *ngif="isAdmin" routerlink="/event-create">
        Create a new Event
    </ion-button>

    <div class="div-center">
        <ion-card *ngIf="word != null" color="medium" class="card-opacity">
            <ion-card-header>
                <ion-card-subtitle color="medium">No# {{word['textid']}}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content color="primary">

                <ion-text
                          [ngClass]="(word['text'].length > 150) ? 'text12' : 'text18' "
                          color="primary" [innerHTML]="word['text']"></ion-text>
            </ion-card-content>
        </ion-card>
    </div>
    <div class="footer-div">
        <ion-button class="footer-button" shape="round" size="large"
                    expand="block" color="secondary" (click)="getRandom()">
            REMEMBER
        </ion-button>
    </div>
</ion-content>


<!--<ion-note>-->
<!--<div class="welcome-fa-icon">-->
<!--<fa-icon class="welcome-fa-icon" [icon]="faBookDead" size="6x"></fa-icon>-->
<!--</div>-->

<!--</ion-note>-->
