:host {
  ion-content, ion-footer {
    --background: url('../../assets/background_bw_low.jpg') no-repeat 100% 100%;
    //linear-gradient(-135deg, var(--ion-color-medium), var(--ion-color-light)),
  }

  ion-card {
    --background: linear-gradient(- 135 deg, var(--ion-color-medium), var(--ion-color-light)),
  }

  .welcome-card ion-img {
    max-height: 35vh;
    overflow: hidden;
  }

  .footer-div {
    width: 100%;
    position: absolute;
    bottom: 20px;
  }


  .footer-text {
    font-weight: bold;
    text-align: center;
    margin: auto;
  }

  .footer-button {
    width: 80%;
    margin: auto;
    padding-bottom: 10px;
  }



  .welcome-img {
    margin: auto;
    width: 250px;
  }

  .welcome-fa-icon {
    margin: auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;

  }
}