<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Famous Last Words (RPG) - Lite
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-note>
        <div class="welcome-text">
        Let's not forget, remember the PC Deaths.
            <fa-icon [icon]="faBookDead" size="4x"></fa-icon>
        </div>
    </ion-note>
    <ion-img class="welcome-img" src="/assets/tomb.png"></ion-img>
    <ion-card *ngIf="word != null">
        <ion-card-header>
            <ion-card-subtitle>No# {{word['textid']}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <div>
                <p [innerHTML]="word['text']"></p>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>

<ion-footer padding-bottom="10px">
    <div>
        <ion-button expand="full" color="danger" (click)="getRandom()">Remember</ion-button>
    </div>
</ion-footer>